*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/header.jpeg ");
    background-size: cover;
    background-position: top center;
    position: relative;
}

nav{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav span{
    text-transform: uppercase;
}

nav .fa-solid{
    display: none;
}

.menu{
    flex: 1;
    text-align: right;
    text-transform: capitalize;
    position: relative;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
    border-radius: 10px;
    position: relative;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    padding: 2px 10px;
}

.menu ul li a:hover{
    background: white;
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2px 10px;
}

.banner{
    width: 50%;
    padding-top: 15%;
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
    color: white;
}

.banner h1{
    font-size: 40px;
    padding-bottom: 10px;
}

.banner p{
    font-size: 20px;
    padding-bottom: 20px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.input-wrapper label{
    padding-bottom: 5px;
    font-weight: bold;
}

.input-wrapper input{
    border-radius: 10px;
    height: 30px;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: none;
}

form button{
    border-radius: 10px;
    height: 30px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 10px;
    border: none;
    background: white;
    color: red;
}

form button:hover{
    background: red;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/*-------------------------MOBILE*/

@media only screen and (max-width: 767px) {
    .header{
        display: flex;
        flex-direction: column;
    }

    nav .fa-solid{
        display: block;
        color: red;
        padding: 10px 10px;
        cursor: pointer;
        font-size: 20px;
    }

    nav .fa-bars{
        display: block;
        color: white;
    }

    .menu {
        position: absolute;
        background: white;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }

    .menu ul li{
        display: block;
        padding: 10px 10px;
    }

    .menu ul li a{
        color: red;
        text-decoration: none;
        padding: 2px 10px;
    }

    .menu ul li a:hover{
        background: red;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 2px 10px;
    }


    .banner{
        width: 70%;
        margin: auto;
        align-items: center;
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .input-wrapper input{
        width: 100%;
    }
}




/*-------------------------SECTION PERKS*/

.perks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.perks h1{
    font-size: 40px;
    padding-bottom: 10px;
}

.perks p{
    font-size: 20px;
    padding-bottom: 10px;
}

.perks-wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
}

.perk-info{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;

}

.perk-info img{
    height: 100px;
    width: 80px;
}

.perk-info h3{
    text-transform: capitalize;
    font-size: 23px;
    padding: 10px 0;
}

@media only screen and (max-width: 767px) {
    .perks-wrap{
        flex-direction: column;
    }

    .perk-info img{
        height: 80px;
        width: 60px;
    }
}





/*-------------------------SECTION FAQ*/

.faq{
    width: 80%;
    margin: auto;
}





















